<div class="left-bar">
    <div class="logo"></div>

    <div class="buttons">
        <nav>
            <ul>
                <li routerLink="/admin/dashboard" routerLinkActive="active-link"><img src="/admin/left-bar/dashboard.svg" alt="">Dashboard</li>
                <li routerLink="/admin/products" routerLinkActive="active-link"><img src="/admin/left-bar/products.svg" alt="">Products</li>
                <li routerLink="/admin/orders" routerLinkActive="active-link"><img src="/admin/left-bar/orders.svg" alt="">Orders</li>
                <li routerLink="/admin/customers" routerLinkActive="active-link"><img src="/admin/left-bar/custumers.svg" alt="">Customers</li>
                <li routerLink="/admin/reviews" routerLinkActive="active-link"><img src="/admin/left-bar/review.svg" alt="">Reviews</li>
                <li routerLink="/admin/settings" routerLinkActive="active-link"><img src="/admin/left-bar/settings.svg" alt="">Settings</li>
                <li routerLink="/admin/extras" routerLinkActive="active-link"><img src="/admin/left-bar/extras.svg" alt="">Extras</li>
            </ul>
        </nav>
    </div>
</div>