.products{
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
}

.products-inner{
    width: calc(100% - 17% - 25px);
    height: calc(100vh - 70px - 25px);
    margin-top: 70px;
    float: right;
    margin-right: 25px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}

.filter{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter .serv{
    height: 40px;
    display: flex;
    gap: 15px;
}

.filter .serv input{
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
}

.filter .serv button{
    width: 125px;
    background-color: #0E1422;
    border: none;
    color: #fff;
}


.products-inner table{
    background: #fff;
}

table *{
    font-family: var(--font-inter);
    color: #5C5F6A;
}

table th{
    font-size: 16px;
}

table td{
    height: 80px;
}

table th:first-of-type{
    width: 60px;
}

table th:nth-of-type(2){
    width: 200px;
}

table th:nth-of-type(3){
    width: 80px;
}


table th:nth-of-type(4){
    width: 80px;
}

table th:nth-of-type(5){
    width: 100px;
}

table th:last-of-type{
    width: 100px;
}


mat-paginator{
    background: #fff;
}

table td>img{
    width: 50px;
    height: 50px;
    background: #F6F6F6;
}