<div class="blackbar">
    <p>Get 25% OFF on your first order . Order Now</p>
</div>
<div class="header">
    <div class="conteiner">
        <div class="header-inner">     
    <div class="logo">

    </div>
    <div class="header-nav">
        <nav>
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/Categories">Categories</a></li>
                <li><a routerLink="/About">About</a></li>
                <li><a routerLink="/product">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="righside">
        <div class="searchboxmain">
            <input class="searchbox"type="text" placeholder="Search product">
        </div>
            <div class="icons">
                <div class="icon1"><a routerLink="/cart"><img src="./user/Icon.svg" alt=""></a></div>
                <div class="icon2"><a routerLink="/login"><img src="./user/User.svg" alt=""></a></div>
            </div>
        
    </div>
    
        </div>
    </div>
</div>
