<app-header></app-header>

<div class="dashboard">
    <div class="dashboard-inner">
        <div class="box div1">
            <div class="text">
                <ul>
                    <h5>Total Sales</h5>
                    <p>THIS MONTH</p>
                </ul>
                <h3>$ 4,235</h3>
            </div>
            <div class="img"></div>
        </div>
        <div class="box div2">
            <div class="text">
                <ul>
                    <h5>Total Sales</h5>
                    <p>THIS MONTH</p>
                </ul>
                <h3>$ 4,235</h3>
            </div>
            <div class="img"></div>
        </div>
        <div class="box div3">
            <div class="text">
                <ul>
                    <h5>Total Sales</h5>
                    <p>THIS MONTH</p>
                </ul>
                <h3>$ 4,235</h3>
            </div>
            <div class="img"></div>
        </div>
        <div class="box div4"></div>
        <div class="box div5"></div>
    </div>
</div>
<app-left-bar></app-left-bar>